<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola soy Mariano Ruiz</h1>
    <br>
    Mis familiares son:
    <br>
    {% for familiar in familiares %}
    <br>
    {{ familiar.nombre }} {{ familiar.apellido }} es mi {{ familiar.relacion }} , tiene {{ familiar.edad }} y fue agregado a esta lista en {{ familiar.fecha_creacion }}
    <br>
    {% endfor %}
</body>
</html>